// Global Stylesheet

// Color Palette
$primary-color: green;
$secondary-color: red;

// Typography
// Hide for Mobile and Tabley
article h1 {
    display: none;
}

// Video Player Styling
video {
    max-width: 100%;
    width: 100%;
    border: 10px solid red;
    
}

// Body Styling
html {
    background: url(../img/jungle.jpg) no-repeat center center fixed;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

//links
a:link {color: red;}
a:visited {color: burlywood;}
a:hover {color: red;}
a:active {color: burlywood;}