// Typography Stylesheet
h1 {
    font-family: 'Allerta Stencil', sans-serif;
    color: $secondary-color;
    font-size: 4em;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px green;
}

.description {
    background: $primary-color;
    border-radius: 15px;
    padding: 10px 15px;
    font-size: 1.5em;
    color: white;
}

.copy {
    font-family: 'Allerta Stencil', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    color: $secondary-color;
}