// Typography Stylesheet
h1 {
    font-family: 'Allerta Stencil', sans-serif;
    color: red;
    font-size: 4em;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px green;
}

.description {
    font-size: 1.5em;
    color: white;
}

