// Typography Stylesheet
h1 {
    font-family: 'Allerta Stencil', sans-serif;
    color: $secondary-color;
    font-size: 4em;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px green;
}

.description {
    background: $primary-color;
    border-radius: 15px;
    padding: 10px 15px;
    font-size: 1.5em;
    color: white;
}

.copy {
    font-family: 'Allerta Stencil', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    color: $secondary-color;
}

span.char1 {
    background: rgba(158, 0, 0, .9);
}

span.char2 {
    background: rgba(158, 0, 0, .8);
}

span.char3 {
    background: rgba(158, 0, 0, .7);
}

span.char4 {
    background: rgba(158, 0, 0, .6);
}

span.char5 {
    background: rgba(158, 0, 0, .5);
}

span.char6 {
    background: rgba(158, 0, 0, .4);
}

span.char7 {
    background: rgba(158, 0, 0, .3);
}

span.char8 {
    background: rgba(158, 0, 0, .2);
}